In [1]:
%load_ext nb_black

In [2]:
import pandas as pd
import numpy as np

## Reading the dataset

In [3]:
df = pd.read_csv("../../../../data/raw/partner_ii/db3_cement.csv")

# Removing Useless Features

Here we will drop some features that may not contribute to the performance of the models that will be fitted on this data.

<h3>Percentage of missing values:</h3>

<table>
    <th>Full Dataset:</th>
    <th> </th>
    <tr>
        <td>cl</td>
        <td>99.91</td>
    </tr>
    <tr>
        <td>tio2</td>
        <td>99.91</td>
    </tr>        
</table>

<table>
    <th>Type I-II</th>
    <th></th>
        <tr>
        <td>cl</td>
        <td>99.9</td>
    </tr>
    <tr>
        <td>tio2</td>
        <td>99.9</td>
    </tr>  
    
<table>
    <th>Type III</th>
    <th></th>
        <tr>
        <td>cl</td>
        <td>100</td>
    </tr>
    <tr>
        <td>tio2</td>
        <td>100</td>
    </tr> 
    
<table>
    <th>Type IL</th>
    <th></th>
        <tr>
        <td>cl</td>
        <td>100</td>
    </tr>
    <tr>
        <td>tio2</td>
        <td>100</td>
    </tr> 
</table>

In [4]:
FEATURES_TO_DROP = [
    # Missing Values
    "cl",
    "tio2",
    # Useless Features
    "sample_id_plant",
    "raw_material_code",
]

### Drop rows where the target variable is null

In [5]:
df = df[df["strength_28d"].notna()].reset_index(drop=True)

## Convert Date to format Date Time

In [6]:
df["sample_date"] = pd.to_datetime(df["sample_date"])

In [7]:
df_type_i_ii = (
    df[df["unified_material_name"] == "Type I-II"].reset_index(drop=True).copy()
)
df_type_iii = (
    df[df["unified_material_name"] == "Type III"].reset_index(drop=True).copy()
)
df_type_il = df[df["unified_material_name"] == "Type IL"].reset_index(drop=True).copy()

### Removing features with features having 30% or more of missing values

### Removing features with zero variance

### Removing features with more than 70% of zeros

In [8]:
df = df.drop(labels=FEATURES_TO_DROP, axis=1)
df_type_i_ii = df_type_i_ii.drop(
    labels=FEATURES_TO_DROP + ["unified_material_name"], axis=1
)
df_type_iii = df_type_iii.drop(
    labels=FEATURES_TO_DROP + ["unified_material_name"], axis=1
)
df_type_il = df_type_il.drop(
    labels=FEATURES_TO_DROP + ["unified_material_name"], axis=1
)

In [9]:
(df.isna().sum().sort_values(ascending=False) / df.shape[0] * 100).to_frame(
    name="Missing (%)"
).style.background_gradient(cmap="Reds")

In [10]:
(
    df_type_i_ii.isna().sum().sort_values(ascending=False) / df_type_i_ii.shape[0] * 100
).to_frame(name="Missing (%)").style.background_gradient(cmap="Reds")

In [11]:
(
    df_type_iii.isna().sum().sort_values(ascending=False) / df_type_iii.shape[0] * 100
).to_frame(name="Missing (%)").style.background_gradient(cmap="Reds")

In [12]:
(
    df_type_il.isna().sum().sort_values(ascending=False) / df_type_il.shape[0] * 100
).to_frame(name="Missing (%)").style.background_gradient(cmap="Reds")

In [13]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
cao,1045.0,62.160699,0.503725,58.75,61.890,62.150,62.4500,64.75
sio2,1045.0,19.142297,0.448662,16.79,19.030,19.230,19.3800,20.15
al2o3,1045.0,4.676459,0.162138,3.97,4.570,4.690,4.8000,5.04
fe2o3,1045.0,3.223694,0.099771,2.92,3.170,3.220,3.2800,4.58
mgo,1045.0,3.005923,0.344269,1.76,2.840,3.010,3.1900,3.99
so3,1045.0,3.019579,0.167625,2.57,2.890,2.940,3.1100,3.58
k2o,1045.0,0.639053,0.052072,0.50,0.600,0.630,0.6800,0.82
na2o,1045.0,0.078584,0.033967,0.00,0.050,0.070,0.1100,0.17
alite,1026.0,57.011296,2.886962,32.64,55.370,57.545,58.8775,63.62
belite,1026.0,15.020175,2.089796,10.02,13.710,14.870,16.2775,31.18
aluminate,1026.0,5.346862,0.549563,1.34,4.990,5.330,5.6400,7.35
ferrite,1026.0,11.022641,0.538800,9.26,10.680,11.000,11.3400,16.15
free_lime,1030.0,1.004553,0.195929,0.49,0.860,0.990,1.1400,2.11
loi,1057.0,3.288401,0.753072,1.24,3.000,3.160,3.2800,7.04
water_demand,1057.0,26.438032,2.219424,0.00,25.500,25.500,27.0000,64.00
setting_initial,1057.0,148.996216,17.276714,95.00,140.000,150.000,160.0000,185.00
strength_1d,1055.0,17.734948,3.839591,12.10,15.265,16.140,17.8000,28.30
strength_3d,1056.0,29.350085,3.818775,20.88,26.735,28.205,30.5125,40.72
strength_7d,1055.0,35.281450,3.540005,27.45,32.860,34.580,36.9700,45.48
strength_28d,1057.0,43.001722,3.537138,34.15,40.660,42.500,45.0500,54.56
blaine,1057.0,426.928098,81.506754,280.00,374.000,382.000,455.0000,607.00
sieve_32um,1057.0,5.767909,13.965193,0.44,3.160,6.020,7.4000,451.00
sieve_45um,1057.0,97.317739,3.003362,9.76,96.460,97.200,98.5900,99.96

In [14]:
df_type_i_ii.describe().T

,count,mean,std,min,25%,50%,75%,max
cao,726.0,62.134077,0.487112,60.36,61.8925,62.150,62.4400,64.65
sio2,726.0,19.253526,0.231384,18.37,19.0900,19.260,19.3900,20.00
al2o3,726.0,4.708994,0.136825,4.36,4.6000,4.720,4.8200,5.04
fe2o3,726.0,3.237865,0.075523,3.07,3.1900,3.230,3.2900,3.45
mgo,726.0,2.997603,0.314888,1.85,2.8600,3.000,3.1700,3.89
so3,726.0,2.932658,0.085731,2.57,2.8800,2.910,2.9500,3.22
k2o,726.0,0.637011,0.050115,0.53,0.6000,0.630,0.6700,0.78
na2o,726.0,0.079862,0.033076,0.01,0.0500,0.075,0.1100,0.17
alite,714.0,57.379916,2.488923,32.64,55.8800,57.665,58.9275,63.30
belite,714.0,14.873978,2.069909,10.02,13.5725,14.660,15.9775,31.18
aluminate,714.0,5.403431,0.539076,1.34,5.0600,5.380,5.6900,7.35
ferrite,714.0,10.995742,0.486330,9.64,10.6900,10.980,11.2700,16.15
free_lime,717.0,1.004240,0.191350,0.49,0.8600,0.980,1.1400,2.00
loi,735.0,3.153061,0.193256,1.67,3.0700,3.180,3.2700,3.68
water_demand,735.0,25.431293,0.492837,24.00,25.0000,25.500,26.0000,27.00
setting_initial,735.0,154.463946,12.303983,115.00,145.0000,155.000,165.0000,185.00
strength_1d,734.0,15.734223,1.006420,12.10,15.0300,15.785,16.4500,18.46
strength_3d,734.0,27.548774,1.667832,22.15,26.4450,27.540,28.8175,31.68
strength_7d,734.0,33.908365,2.085490,27.74,32.5100,34.020,35.3875,41.21
strength_28d,735.0,41.869537,2.349089,34.15,40.3250,41.920,43.5700,48.34
blaine,735.0,377.770068,9.527112,349.00,372.0000,377.000,384.0000,409.00
sieve_32um,735.0,6.870776,1.330988,3.68,5.8700,6.800,7.8300,13.33
sieve_45um,735.0,96.622054,3.330914,9.76,96.1700,96.850,97.3150,99.75

In [15]:
df_type_iii.describe().T

,count,mean,std,min,25%,50%,75%,max
cao,242.0,62.215165,0.517907,60.89,61.8800,62.140,62.4775,64.75
sio2,242.0,19.224545,0.297748,18.48,19.0325,19.250,19.4100,20.15
al2o3,242.0,4.679628,0.130159,4.30,4.5900,4.690,4.7800,5.02
fe2o3,242.0,3.227149,0.084748,3.03,3.1600,3.230,3.2800,3.48
mgo,242.0,3.023347,0.343752,1.76,2.8750,3.040,3.2200,3.99
so3,242.0,3.257397,0.133685,2.72,3.1700,3.220,3.3900,3.58
k2o,242.0,0.655289,0.054347,0.52,0.6200,0.640,0.6900,0.82
na2o,242.0,0.082066,0.036002,0.01,0.0500,0.075,0.1100,0.16
alite,237.0,57.586245,2.456642,49.56,56.0000,57.750,59.1000,63.62
belite,237.0,15.359451,2.089176,10.10,14.1300,15.360,16.7200,21.83
aluminate,237.0,5.301603,0.540748,3.90,4.9200,5.270,5.6000,7.04
ferrite,237.0,11.294093,0.527824,9.55,10.8800,11.300,11.6200,12.87
free_lime,238.0,1.041429,0.206063,0.57,0.8900,1.030,1.1800,2.11
loi,244.0,2.892500,0.300664,1.24,2.7100,2.900,3.1000,3.49
water_demand,244.0,29.399590,2.951801,0.00,29.0000,29.000,30.0000,64.00
setting_initial,244.0,130.073770,17.843475,95.00,115.0000,130.000,145.0000,180.00
strength_1d,243.0,24.415844,1.466883,18.55,23.5600,24.380,25.2950,28.30
strength_3d,244.0,35.484959,2.088711,28.18,34.2550,35.670,36.9500,40.72
strength_7d,243.0,40.294856,2.438424,32.62,38.7800,40.420,42.0800,45.48
strength_28d,244.0,47.529057,2.662517,39.04,46.1400,47.555,49.4300,54.56
blaine,244.0,570.028689,23.088379,280.00,562.0000,572.500,580.0000,607.00
sieve_32um,244.0,1.208443,0.467945,0.44,0.9275,1.225,1.4100,5.97
sieve_45um,244.0,99.155738,0.627100,93.61,98.9600,99.225,99.4950,99.96

In [16]:
df_type_il.describe().T

,count,mean,std,min,25%,50%,75%,max
cao,77.0,62.240519,0.590615,58.75,62.0300,62.230,62.5400,63.42
sio2,77.0,17.835065,0.319805,16.79,17.6200,17.870,18.0800,18.87
al2o3,77.0,4.359740,0.130525,3.97,4.3000,4.380,4.4300,4.64
fe2o3,77.0,3.079221,0.190917,2.92,3.0000,3.040,3.1100,4.58
mgo,77.0,3.029610,0.552560,2.02,2.7100,2.960,3.4700,3.95
so3,77.0,3.091688,0.040827,2.93,3.0700,3.090,3.1100,3.18
k2o,77.0,0.607273,0.044945,0.50,0.5700,0.610,0.6400,0.75
na2o,77.0,0.055584,0.026680,0.00,0.0400,0.060,0.0700,0.13
alite,75.0,51.685200,2.321678,45.11,50.0000,52.150,53.3550,56.74
belite,75.0,15.339867,2.147599,10.55,13.9300,15.120,16.8450,21.67
aluminate,75.0,4.951333,0.504816,3.93,4.7150,4.940,5.1850,6.42
ferrite,75.0,10.420933,0.493783,9.26,10.0950,10.350,10.7300,11.68
free_lime,75.0,0.890533,0.161202,0.60,0.7650,0.870,1.0000,1.34
loi,78.0,5.802179,0.252276,5.25,5.6250,5.780,5.9100,7.04
water_demand,78.0,26.660256,0.473270,25.00,26.5000,27.000,27.0000,27.50
setting_initial,78.0,156.666667,12.884771,115.00,150.0000,160.000,165.0000,175.00
strength_1d,78.0,15.748718,1.543258,13.35,14.5775,15.520,16.5850,20.26
strength_3d,78.0,27.109744,2.068764,20.88,25.8900,26.980,28.4625,32.49
strength_7d,78.0,32.583846,2.604525,27.45,30.5200,32.905,34.1525,39.02
strength_28d,78.0,39.507949,2.656802,34.90,37.3800,39.000,41.5625,45.68
blaine,78.0,442.500000,18.929637,406.00,427.0000,441.000,457.7500,485.00
sieve_32um,78.0,9.638462,50.640009,0.91,3.0975,3.585,4.4600,451.00
sieve_45um,78.0,98.123590,0.847955,95.78,97.7725,98.345,98.5950,99.92

In [17]:
df.shape

(1057, 25)

### Sort the dataset by date

In [18]:
df = df.sort_values(by="sample_date")
df_type_i_ii = df_type_i_ii.sort_values(by="sample_date")
df_type_iii = df_type_iii.sort_values(by="sample_date")
df_type_il = df_type_il.sort_values(by="sample_date")

### Renaming some features

The key idea here is to create a pattern among different datasets in order to facilitate reusing the same code

In [19]:
features_name_dict = {
    "sample_date": "Date",
    "strength_1d": "CS1",
    "strength_3d": "CS3",
    "strength_7d": "CS7",
    "strength_28d": "CS28",
}

df = df.rename(features_name_dict, axis=1)
df_type_i_ii = df_type_i_ii.rename(features_name_dict, axis=1)
df_type_iii = df_type_iii.rename(features_name_dict, axis=1)
df_type_il = df_type_il.rename(features_name_dict, axis=1)

In [20]:
COLUMNS_TO_DROP = [
    "water_demand",
]

COLUMNS_TO_RENAME = {
    "sample_date": "Date",
    "unified_material_name": "Cement_Type",
    "cao": "CaO",
    "sio2": "SiO2",
    "al2o3": "Al2O3",
    "fe2o3": "Fe2O3",
    "mgo": "MgO",
    "so3": "SO3",
    "k2o": "K2O",
    "na2o": "Na2O",
    # "cl": "Cl-",
    "cl": "Cl",
    "tio2": "TiO2",
    "alite": "Alite",
    "belite": "Belite",
    "aluminate": "Aluminate",
    "ferrite": "Ferrite",
    "free_lime": "Free CaO",
    "loi": "Loss on Ignition",
    "water_demand": "Water Demand",
    "setting_initial": "Initial setting time",
    "strength_1d": "CS1",
    "strength_3d": "CS3",
    "strength_7d": "CS7",
    "strength_28d": "CS28",
    "blaine": "Blaine",
    # "sieve_32um": "#400",
    # "sieve_45um": "#325",
    "sieve_32um": "Sieve 32 um",
    "sieve_45um": "Sieve 45 um",
}

COLUMNS_TO_RENAME_2 = {
    "Alite": "Total C3S",
    "Belite": "Total C2S",
    "Aluminate": "C3A",
    "Ferrite": "C4AF",
}

In [21]:
df = (
    df.drop(COLUMNS_TO_DROP, axis=1)
    .rename(COLUMNS_TO_RENAME, axis=1)
    .rename(COLUMNS_TO_RENAME_2, axis=1)
    .copy()
)
df = df.drop([0]).reset_index(drop=True)
df = df.infer_objects()

### Dropping duplicated rows

In [22]:
df.shape

(1056, 24)

In [23]:
df = df.reset_index(drop=True)

In [24]:
df.columns

Index(['Date', 'Cement_Type', 'CaO', 'SiO2', 'Al2O3', 'Fe2O3', 'MgO', 'SO3',
       'K2O', 'Na2O', 'Total C3S', 'Total C2S', 'C3A', 'C4AF', 'Free CaO',
       'Loss on Ignition', 'Initial setting time', 'CS1', 'CS3', 'CS7', 'CS28',
       'Blaine', 'Sieve 32 um', 'Sieve 45 um'],
      dtype='object')

In [25]:
chemical_mineralogical_vars = [
    "CaO",
    "SiO2",
    "Al2O3",
    "Fe2O3",
    "MgO",
    "SO3",
    "K2O",
    "Na2O",
    "Total C3S",
    "Total C2S",
    "C3A",
    "C4AF",
    "Free CaO",
    "Loss on Ignition",
]

chemical_vars = [
    "CaO",
    "SiO2",
    "Al2O3",
    "Fe2O3",
    "MgO",
    "SO3",
    "K2O",
    "Na2O",
    "Free CaO",
    "Loss on Ignition",
]


df = df.loc[df.select_dtypes("number").drop_duplicates().index].reset_index(drop=True)

df = df.loc[
    df.select_dtypes("number").drop_duplicates(subset=chemical_vars).index
].reset_index(drop=True)


df = df.loc[
    df.select_dtypes("number").drop_duplicates(subset=chemical_mineralogical_vars).index
].reset_index(drop=True)

In [26]:
df.shape

(1054, 24)

### Dropping rows with negative values

In [27]:
df[df.drop(["Date"], axis=1).duplicated()].drop("Date", axis=1).select_dtypes(
    include="number"
).apply(lambda x: x < 0).sum().sort_values(ascending=False)

CaO                     0.0
SiO2                    0.0
Sieve 32 um             0.0
Blaine                  0.0
CS28                    0.0
CS7                     0.0
CS3                     0.0
CS1                     0.0
Initial setting time    0.0
Loss on Ignition        0.0
Free CaO                0.0
C4AF                    0.0
C3A                     0.0
Total C2S               0.0
Total C3S               0.0
Na2O                    0.0
K2O                     0.0
SO3                     0.0
MgO                     0.0
Fe2O3                   0.0
Al2O3                   0.0
Sieve 45 um             0.0
dtype: float64

### Removing outliers

In [28]:
df.describe(percentiles=[0.99]).T

,count,mean,std,min,50%,99%,max
CaO,1044.0,62.160536,0.503939,58.75,62.150,63.3700,64.75
SiO2,1044.0,19.142031,0.448795,16.79,19.230,19.8057,20.15
Al2O3,1044.0,4.676284,0.162116,3.97,4.690,4.9757,5.04
Fe2O3,1044.0,3.223697,0.099818,2.92,3.220,3.4300,4.58
MgO,1044.0,3.005220,0.343682,1.76,3.010,3.8214,3.99
SO3,1044.0,3.019521,0.167695,2.57,2.935,3.4400,3.58
K2O,1044.0,0.639013,0.052081,0.50,0.630,0.7700,0.82
Na2O,1044.0,0.078592,0.033982,0.00,0.070,0.1500,0.17
Total C3S,1025.0,57.010410,2.888232,32.64,57.540,62.6376,63.62
Total C2S,1025.0,15.020195,2.090817,10.02,14.870,20.6344,31.18
C3A,1025.0,5.346937,0.549826,1.34,5.330,6.8400,7.35
C4AF,1025.0,11.022029,0.538706,9.26,11.000,12.3676,16.15
Free CaO,1029.0,1.004908,0.195694,0.49,0.990,1.4572,2.11
Loss on Ignition,1054.0,3.289127,0.753859,1.24,3.160,6.0388,7.04
Initial setting time,1054.0,148.993359,17.258631,95.00,150.000,180.0000,185.00
CS1,1053.0,17.730209,3.837432,12.10,16.140,26.7600,28.30
CS3,1054.0,29.343861,3.817013,20.88,28.200,38.8176,40.72
CS7,1052.0,35.276939,3.539654,27.45,34.570,44.0596,45.48
CS28,1054.0,42.994583,3.533819,34.15,42.485,51.8882,54.56
Blaine,1054.0,426.892789,81.470943,280.00,382.000,595.4700,607.00
Sieve 32 um,1054.0,5.772287,13.984315,0.44,6.025,9.7641,451.00
Sieve 45 um,1054.0,97.314924,3.006849,9.76,97.195,99.7500,99.96

In [29]:
df = df.reset_index(drop=True)
df = df.drop(df["Sieve 32 um"].idxmax())

In [30]:
df.describe(percentiles=[0.99]).T

,count,mean,std,min,50%,99%,max
CaO,1043.0,62.160585,0.504178,58.75,62.150,63.3700,64.75
SiO2,1043.0,19.143375,0.446903,16.79,19.230,19.8058,20.15
Al2O3,1043.0,4.676568,0.161933,3.97,4.690,4.9758,5.04
Fe2O3,1043.0,3.223969,0.099478,2.92,3.220,3.4300,4.58
MgO,1043.0,3.005129,0.343835,1.76,3.010,3.8216,3.99
SO3,1043.0,3.019463,0.167765,2.57,2.930,3.4400,3.58
K2O,1043.0,0.639012,0.052106,0.50,0.630,0.7700,0.82
Na2O,1043.0,0.078591,0.033998,0.00,0.070,0.1500,0.17
Total C3S,1024.0,57.017227,2.881382,32.64,57.545,62.6377,63.62
Total C2S,1024.0,15.019033,2.091507,10.02,14.870,20.6363,31.18
C3A,1024.0,5.346436,0.549861,1.34,5.330,6.8400,7.35
C4AF,1024.0,11.023379,0.537232,9.26,11.000,12.3677,16.15
Free CaO,1028.0,1.004903,0.195789,0.49,0.990,1.4573,2.11
Loss on Ignition,1053.0,3.286876,0.750664,1.24,3.160,6.0392,7.04
Initial setting time,1053.0,148.992403,17.266804,95.00,150.000,180.0000,185.00
CS1,1052.0,17.733413,3.837848,12.10,16.140,26.7600,28.30
CS3,1053.0,29.348822,3.815425,20.88,28.200,38.8184,40.72
CS7,1051.0,35.282540,3.536672,27.45,34.580,44.0600,45.48
CS28,1053.0,43.000541,3.530197,34.15,42.490,51.8888,54.56
Blaine,1053.0,426.882241,81.508936,280.00,382.000,595.4800,607.00
Sieve 32 um,1053.0,5.349468,2.671823,0.44,6.020,9.7500,13.33
Sieve 45 um,1053.0,97.314131,3.008167,9.76,97.190,99.7500,99.96

## Standardizing cement type identification

In [31]:
df["Cement_Type"].unique()

array(['Type I-II', 'Type III', 'Type IL'], dtype=object)

### Sort the dataset by date

In [32]:
df = df.sort_values(by="Date")
df_type_i_ii = df_type_i_ii.sort_values(by="Date")
df_type_iii = df_type_iii.sort_values(by="Date")
df_type_il = df_type_il.sort_values(by="Date")

## Saving the dataset

<h3>Saving for feature engineering</h3>

In [33]:
df.to_csv("../../../../data/interim/partner_ii/cement-shipping.csv", index=False)
df_type_i_ii.to_csv("../../../../data/interim/partner_ii/Type-I-II.csv", index=False)
df_type_iii.to_csv("../../../../data/interim/partner_ii/Type-III.csv", index=False)
df_type_il.to_csv("../../../../data/interim/partner_ii/Type-IL.csv", index=False)