In [1]:
%load_ext nb_black

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

from scipy.stats import pearsonr
from collections import Counter

In [3]:
def convert_to_float(value):
    try:
        # If it's a string enclosed in single quotes, remove quotes and replace comma with dot
        if isinstance(value, str):
            return float(value.replace(",", "."))
        else:
            return float(value)
    except ValueError as e:
        print(e)
        return float("nan")

In [4]:
def preprocess_numeric_cols(df, columns):
    for col in columns:
        df[col] = df[col].astype(str)  # Ensure string type for string operations
        df[col] = df[col].str.replace("#", "")  # Remove '#' characters
        df[col] = df[col].str.replace(",", ".")  # Replace ',' with '.' for decimals
    return df

# Data preparation - 209 plant Z data

### Reading the files and extracting relevant information:

In [5]:
plant = "Z"
xls_files = {}

xls = pd.ExcelFile(
    f"../../../../data/raw/209/EMBRAPII hubIC IACC_CIMENTO_{plant}.xlsx",
    engine="openpyxl",
)
xls_files[plant] = xls

In [6]:
print("Plant: ", plant, xls.sheet_names)

Plant:  Z ['INSTRUÇÕES', 'Clínquer', '30', '44', '99', '116', '138']

In [7]:
cement_types_per_plant = []
CEMENT_TYPE_COLS = ["Tipo de cimento", "Classe de resistência"]
dataframes = []

for plant, xls in xls_files.items():
    for sheet_name in xls.sheet_names[2:]:
        df = pd.read_excel(xls_files[plant], sheet_name, header=[1, 2])

        if not df[CEMENT_TYPE_COLS].iloc[2:].isna().all().all():
            cement_type = (
                df[CEMENT_TYPE_COLS]
                .loc[2:]
                .astype(str)
                .sum(axis=1)
                .str.replace(" ", "")
                .str.replace("-", "")
                .str.replace("nan", "")
                .unique()
            )

        else:
            cement_type = (
                df[[("Obs.", "Unnamed: 8_level_1")]]
                .loc[2:]
                .astype(str)
                .sum(axis=1)
                .str.replace(" ", "")
                .str.replace("-", "")
                .unique()
            )

        cement_types_per_plant.append((plant, sheet_name, cement_type))
        dataframes.append(df)

In [8]:
cement_types_per_plant

[('Z', '30', array(['CPIIE40'], dtype=object)),
 ('Z', '44', array(['CPIIF40'], dtype=object)),
 ('Z', '99', array(['CPIII40'], dtype=object)),
 ('Z', '116', array(['CPIIF32'], dtype=object)),
 ('Z', '138', array(['CPVARI'], dtype=object))]

In [9]:
cements = []
for tup in cement_types_per_plant:
    cements.append(tup[2][0])
Counter(cements)

Counter({'CPIIE40': 1, 'CPIIF40': 1, 'CPIII40': 1, 'CPIIF32': 1, 'CPVARI': 1})

In [10]:
dataframes = []

for plant, xls in xls_files.items():
    for sheet_name in xls.sheet_names[2:]:
        df = pd.read_excel(xls_files[plant], sheet_name, header=[0, 1, 2])
        df["Unnamed: 0_level_0", "Unnamed: 0_level_1", "Unnamed: 0_level_2"] = plant
        dataframes.append(df.drop([0, 1], axis=0).reset_index(drop=True).copy())

In [11]:
df = pd.concat(dataframes, axis=0).reset_index(drop=True)

## Initial Preprocessing

In [12]:
df = pd.concat(
    [
        df["Unnamed: 0_level_0", "Unnamed: 0_level_1", "Unnamed: 0_level_2"],
        df["Dados iniciais"],
        df["Cimento"]["Composição"].rename(
            {"Sulfato de cálcio": "Sulfato de cálcio (composição)"}, axis=1
        ),
        df["Cimento"]["Análise mineralógica"],
        df["Cimento"]["Análise química"],
        df["Característias físicas do cimento"],
        df["Propriedades do cimento"],
    ],
    axis=1,
)

In [13]:
# df.info()

### 1. Dropping columns where either there is no data nor it contributes to the analysis
### 2. Renaming columns to a short identifiable name

In [14]:
COLUMNS_TO_DROP = [
    ("Data", "Medida"),
    ("Horário", "Produção"),
    ("Horário", "Medida"),
    ("Obs.", "Unnamed: 148_level_2"),
    ("Tipo de cimento", "Unnamed: 6_level_2"),
    ("Classe de resistência", "Unnamed: 7_level_2"),
    ("Obs.", "Unnamed: 8_level_2"),
    "Obs.",
    ("Obs.", "Unnamed: 148_level_2"),
    ("Unnamed: 141_level_1", "Obs."),
    # ("Unnamed: 139_level_1", "#400"),
]

COLUMNS_TO_RENAME = {
    ("Unnamed: 0_level_0", "Unnamed: 0_level_1", "Unnamed: 0_level_2"): "Plant",
    ("Cidade", "Unnamed: 1_level_2"): "City",
    ("Data", "Produção"): "Date",  # Arrumar!
    ("Unnamed: 136_level_1", "Blaine"): "Blaine",
    ("Unnamed: 137_level_1", "#200"): "#200",
    ("Unnamed: 138_level_1", "#325"): "#325",
    ("Unnamed: 139_level_1", "#400"): "#400",
    ("Unnamed: 140_level_1", "Massa específica"): "Specific Gravity",
    ("Tempo de pega", "Inicio"): "Initial setting time",
    ("Tempo de pega", "Fim"): "Final setting time",
    ("Resistência à compressão", "1 d"): "CS1",
    ("Resistência à compressão", "3 d"): "CS3",
    ("Resistência à compressão", "7 d"): "CS7",
    ("Resistência à compressão", "28 d"): "CS28",
    "Perda ao fogo": "Loss on Ignition",
    "Resíduo insolúvel": "Insoluble Residue",
    "Clínquer": "Clinker",
    "Fíler calcário": "Calcareous filler",
    "Cinza volante": "Fly ash",
    "Escória": "Slag",
    "Argila calcinada": "Calcined clay",
    "Sulfato de cálcio": "Calcium sulfate",
    "C3S total": "Total C3S",
    "C2S total": "Total C2S",
    "C2S alpha": "Alpha C2S",
    "C2S beta": "Beta C2S",
    "C2S gama": "Gamma C2S",
    "C4AF": "C4AF",
    "C3A": "C3A",
    "C3A cubic": "Cubic C3A",
    "C3A orto": "Orthorhombic C3A",
    "CaO livre": "Free CaO",
    "Portlandita": "Portlandite",
    "Periclasio": "Periclase",
    "Arcanita": "Arcanite",
    "Aphthalita": "Aphthitalite",
    "Langbeinita": "Langbeinite",
    "Bassanita": "Bassanite",
    "Anidrita": "Anhydrite",
    "Calcita": "Calcite",
    "Dolomita": "Dolomite",
    "Quartzo": "Quartz",
    "Muscovita": "Muscovite",
    "Sulfato de cálcio (composição)": "Calcium sulfate (composition)",
}

### Defining a single variable to identify Cement Type

In [15]:
# Single variable for the Cement Type
df["Cement_Type"] = (
    df[
        [
            ("Tipo de cimento", "Unnamed: 6_level_2"),
            ("Classe de resistência", "Unnamed: 7_level_2"),
            ("Obs.", "Unnamed: 8_level_2"),
        ]
    ]
    .fillna("")
    .astype(str)
    .sum(axis=1)
)

# # Preprocessing
df["Cement_Type"] = df["Cement_Type"].replace("Fibro", "Fibrocimento")

# Preprocessing
df["Cement_Type"] = (
    df["Cement_Type"]
    .str.replace("Expedido", "")
    .str.replace("Linha 9", "")
    .str.replace("Itajaí", "")
    .str.replace("D-G", "")
    .str.replace("D-E", "")
    .str.replace("DF2", "")
    .str.replace("CPIIF40", "CP II-F-40")
    .str.replace("CPIIF40", "CP II-F40")
    .str.replace("CP VARI", "CP V-ARI")
    .str.replace("CPVARI", "CP V-ARI")
    .str.replace("CP V-RSARI", "CP V-ARI RS")
    .str.replace("CP III-RS40", "CP III-40 RS")
    .str.replace("CP III-RS32", "CP III-32 RS")
    .str.replace("CP IV-RS32", "CP IV-32 RS")
    .str.replace("CP III40", "CP III-40")
    .str.replace("CP III32", "CP III-32")
    .str.replace("CP I-S40", "CP I-S-40")
    .str.replace("CP I40", "CP I-40")
    .str.replace("CP II-E32", "CP II-E-32")
    .str.replace("CP II-E40", "CP II-E-40")
    .str.replace("CP II-F FIBRO40", "CP II-F-40")
    .str.replace("CP II-F32", "CP II-F-32")
    .str.replace("CP II-F40", "CP II-F-40")
    .str.replace("CP II-Z32", "CP II-Z-32")
    .str.replace("CP II-Z40", "CP II-Z-40")
    .str.replace("CP IV32", "CP IV-32")
    .str.replace("CP IND", "CP I")
    .str.replace("CPINDCC", "CP I")
    .str.strip()
)

df = df.drop(COLUMNS_TO_DROP, axis=1).rename(COLUMNS_TO_RENAME, axis=1).copy()
df = df.drop([0]).reset_index(drop=True)
df = df.infer_objects()

### Dropping and rename the columns defined above

### Cleaning and converting numeric columns to float

In [16]:
NUMERIC_COLUMNS = [
    "Calcium sulfate (composition)",
    "Clinker",
    "Calcareous filler",
    "Fly ash",
    "Slag",
    "Calcined clay",
    "Calcium sulfate",
    "Total C3S",
    "Total C2S",
    "Alpha C2S",
    "Beta C2S",
    "Gamma C2S",
    "C4AF",
    "C3A",
    "Cubic C3A",
    "Orthorhombic C3A",
    "Free CaO",
    "Portlandite",
    "Periclase",
    "Arcanite",
    "Aphthitalite",
    "Langbeinite",
    "Bassanite",
    "Anhydrite",
    "Calcite",
    "Dolimita",
    "Quartz",
    "Muscovite",
    "CaO",
    "MgO",
    "Na2O",
    "Al2O3",
    "SiO2",
    "SO3",
    "K2O",
    "TiO2",
    "Fe2O3",
    "Loss on Ignition",
    "Insoluble Residue",
    "Blaine",
    "#200",
    "#325",
    "#400",
    "Specific Gravity",
    "Final setting time",
    "Initial setting time",
    "CS1",
    "CS3",
    "CS7",
    "CS28",
]

df = preprocess_numeric_cols(df, NUMERIC_COLUMNS)

# Preprocessing to fix numeric columns
df[NUMERIC_COLUMNS] = df[NUMERIC_COLUMNS].map(convert_to_float)

# Converting Date to pandas datetime
df["Date"] = pd.to_datetime(df["Date"])

# Drop rows completely missing
index_to_keep = (
    df.drop(["Plant", "Date", "Cement_Type"], axis=1).dropna(axis=0, how="all").index
)
df = df.iloc[index_to_keep].reset_index(drop=True)

df = df.infer_objects()

could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '

## Dropping missing features

### Drop rows completely missing

In [17]:
index_to_keep = (
    df.drop(["Plant", "City", "Date", "Cement_Type"], axis=1)
    .dropna(axis=0, how="all")
    .index
)
df = df.iloc[index_to_keep].reset_index(drop=True)

### Removing features
 that will be fitted on this data.

1. Removing features with features having ~50% or more of missing values
2. Removing features with zero variance
3. Removing features with more than 70% of zeros

In [18]:
(df.isna().sum() / df.shape[0] * 100).sort_values(ascending=False).to_frame(
    name="Missing (%)"
).style.background_gradient(cmap="Reds")

In [19]:
for var, val in (
    (df.isna().sum() / df.shape[0] * 100).sort_values(ascending=False).items()
):
    s = f"""\t<tr>
            <td>{var}</td>
            <td>{round(val, 2)}</td>
    \t</tr>"""
    if val >= 40:
        # print(s)
        print(f'"{var}",')

"Langbeinite",
"Specific Gravity",
"Clinker",
"Calcareous filler",
"Fly ash",
"Slag",
"Calcined clay",
"Calcium sulfate",
"Muscovite",
"Beta C2S",
"Gamma C2S",
"Alpha C2S",
"CS1",
"C3A",
"Aphthitalite",
"Total C2S",
"Total C3S",
"Anhydrite",
"Calcium sulfate (composition)",

<h3>Percentage of missing values:</h3>
<table>
    <th>Plant Z - Full Dataset:</th>
    <th></th>
	<tr>
            <td>Langbeinite</td>
            <td>100.0</td>
    	</tr>
	<tr>
            <td>Specific Gravity</td>
            <td>100.0</td>
    	</tr>
	<tr>
            <td>Clinker</td>
            <td>100.0</td>
    	</tr>
	<tr>
            <td>Calcareous filler</td>
            <td>100.0</td>
    	</tr>
	<tr>
            <td>Fly ash</td>
            <td>100.0</td>
    	</tr>
	<tr>
            <td>Slag</td>
            <td>100.0</td>
    	</tr>
	<tr>
            <td>Calcined clay</td>
            <td>100.0</td>
    	</tr>
	<tr>
            <td>Calcium sulfate</td>
            <td>100.0</td>
    	</tr>
	<tr>
            <td>Muscovite</td>
            <td>100.0</td>
    	</tr>
	<tr>
            <td>Beta C2S</td>
            <td>92.87</td>
    	</tr>
	<tr>
            <td>Gamma C2S</td>
            <td>92.87</td>
    	</tr>
	<tr>
            <td>Alpha C2S</td>
            <td>92.87</td>
    	</tr>
	<tr>
            <td>CS1</td>
            <td>89.87</td>
    	</tr>
	<tr>
            <td>C3A</td>
            <td>61.27</td>
    	</tr>
	<tr>
            <td>Aphthitalite</td>
            <td>57.7</td>
    	</tr>
	<tr>
            <td>Total C2S</td>
            <td>49.86</td>
    	</tr>
	<tr>
            <td>Total C3S</td>
            <td>49.86</td>
    	</tr>
	<tr>
            <td>Anhydrite</td>
            <td>42.72</td>
    	</tr>
	<tr>
            <td>Calcium sulfate (composition)</td>
            <td>42.72</td>
    	</tr>
</table>

In [20]:
FEATRUES_TO_DROP = [
    "Langbeinite",
    "Specific Gravity",
    "Clinker",
    "Calcareous filler",
    "Fly ash",
    "Slag",
    "Calcined clay",
    "Calcium sulfate",
    "Muscovite",
    "Beta C2S",
    "Gamma C2S",
    "Alpha C2S",
    "CS1",
    "C3A",
    "Aphthitalite",
    "Total C2S",
    "Total C3S",
    "Anhydrite",
    "Calcium sulfate (composition)",
]
df = df.drop(labels=FEATRUES_TO_DROP, axis=1)

### Removing features with more than 23% of zeros

In [21]:
zero_values = {}
for col in df.select_dtypes(include="number").columns:
    zero_percentages = (df[df[col].eq(0)].shape[0] / df.shape[0]) * 100
    zero_values[col] = zero_percentages

zero_percentages = pd.Series(zero_values, name=f"Zero (%) for {plant}")
zero_percentages = zero_percentages.sort_values(ascending=False)
zero_percentages = zero_percentages.to_frame(name=f"Zero (%) for {plant}")
zero_percentages.style.background_gradient(cmap="Reds")

<h3>Percentage of zero values:</h3>
<table>
    <th>Plant A - Full Dataset:</th>
    <th></th>
    <tr>
        <td>Dolimita</td>
        <td>58.91</td>
    </tr>
    <tr>
        <td>#200</td>
        <td>51.07</td>
    </tr>
    <tr>
        <td>Free CaO</td>
        <td>11.27</td>
    </tr>    
</table>

In [22]:
FEATRUES_TO_DROP = ["Dolimita", "Free CaO", "#200"]
df = df.drop(labels=FEATRUES_TO_DROP, axis=1)

### Dropping variable with City and Plant identification

In [23]:
FEATRUES_TO_DROP = ["City", "Plant"]
df = df.drop(labels=FEATRUES_TO_DROP, axis=1)

### Dropping rows where the target variable is null

In [24]:
df = df[df["CS28"].notna()]

### Dropping rows where the target variable is zero

In [25]:
df = df[~df["CS28"].eq(0)]

In [26]:
df.shape

(1330, 30)

### Dropping rows where any other variable has a zero value

In [27]:
for col in df.columns:
    df = df[~df[col].eq(0)]

### Dropping duplicated rows

In [28]:
df.shape

(1242, 30)

In [29]:
df = df.reset_index(drop=True)

In [30]:
df = df.loc[df.select_dtypes("number").drop_duplicates().index].reset_index(drop=True)

chemical_vars = [
    "C4AF",
    "Cubic C3A",
    "Orthorhombic C3A",
    "Portlandite",
    "Periclase",
    "Arcanite",
    "Bassanite",
    "Calcite",
    "Quartz",
    "CaO",
    "MgO",
    "Na2O",
    "Al2O3",
    "SiO2",
    "SO3",
    "K2O",
    "Fe2O3",
    "Loss on Ignition",
    "Insoluble Residue",
]

df = df.loc[
    df.select_dtypes("number").drop_duplicates(subset=chemical_vars).index
].reset_index(drop=True)

In [31]:
df.shape

(1239, 30)

### Dropping rows with negative values

In [32]:
df[df.drop(["Date"], axis=1).duplicated()].drop("Date", axis=1).select_dtypes(
    include="number"
).apply(lambda x: x < 0).sum().sort_values(ascending=False)

C4AF                    0.0
Cubic C3A               0.0
CS7                     0.0
CS3                     0.0
Final setting time      0.0
Initial setting time    0.0
#400                    0.0
#325                    0.0
Blaine                  0.0
Insoluble Residue       0.0
Loss on Ignition        0.0
Fe2O3                   0.0
TiO2                    0.0
K2O                     0.0
SO3                     0.0
SiO2                    0.0
Al2O3                   0.0
Na2O                    0.0
MgO                     0.0
CaO                     0.0
Quartz                  0.0
Calcite                 0.0
Bassanite               0.0
Arcanite                0.0
Periclase               0.0
Portlandite             0.0
Orthorhombic C3A        0.0
CS28                    0.0
dtype: float64

### Removing outliers

In [33]:
df.describe(percentiles=[0.99]).T

,count,mean,min,50%,99%,max,std
Date,1239,2022-04-28 11:51:16.997578496,2021-01-05 00:00:00,2022-05-12 00:00:00,2023-07-13 00:00:00,2023-07-25 00:00:00,NaN
C4AF,1058.0,6.677854,2.86,6.76,9.2286,10.48,1.372882
Cubic C3A,1058.0,4.108715,0.81,4.22,6.4429,7.13,1.136103
Orthorhombic C3A,1058.0,0.334518,0.01,0.28,1.1586,3.02,0.286698
Portlandite,1058.0,0.933894,0.06,0.89,2.15,4.68,0.391272
Periclase,1058.0,3.83603,1.22,3.95,5.5,6.31,0.894477
Arcanite,1058.0,0.711569,0.01,0.67,1.7815,2.18,0.420458
Bassanite,1058.0,1.204868,0.01,1.16,2.8686,3.5,0.642883
Calcite,1058.0,6.090378,2.18,5.675,11.8817,14.44,2.060741
Quartz,1058.0,0.353422,0.01,0.33,0.9843,1.5,0.204403
CaO,1207.0,57.440133,10.27,57.64,65.458799,66.309998,4.143829
MgO,1207.0,5.54913,0.34,5.61,6.48,10.29,0.497997
Na2O,1110.0,0.11927,0.01,0.13,0.2,0.26,0.036223
Al2O3,1110.0,5.666676,0.53,5.58,9.1091,9.68,1.042272
SiO2,1110.0,19.364486,3.52,19.055,27.7328,28.33,2.248076
SO3,1207.0,3.646479,0.01,3.67,4.78,5.21,0.515387
K2O,1110.0,0.853279,0.01,0.86,1.07,1.17,0.113207
TiO2,797.0,0.293588,0.03,0.28,0.45,0.73,0.048711
Fe2O3,1110.0,2.544099,0.38,2.58,3.18,3.56,0.355501
Loss on Ignition,1236.0,6.024696,0.29,3.69,6.533,2720.0,77.26683
Insoluble Residue,1233.0,0.934254,0.08,0.91,2.1204,5.71,0.415002
Blaine,1207.0,5207.995029,3250.0,5220.0,5700.0,6110.0,320.074033
#325,1108.0,0.532658,0.017,0.31,10.01,13.84,1.34235
#400,1205.0,1.406689,0.1,1.05,20.5932,26.92,2.635625
Initial setting time,1212.0,191.816832,100.0,180.0,314.45,330.0,39.540792
Final setting time,1213.0,254.59357,140.0,250.0,380.0,450.0,42.598581
CS3,1228.0,34.933892,19.6,35.8,41.072999,43.0,4.303562
CS7,1218.0,41.553284,30.9,41.9,47.099998,49.299999,2.944729
CS28,1239.0,51.11138,38.0,50.9,56.262,58.3,2.699687

In [34]:
df = df.reset_index(drop=True)
df = df[~df["Loss on Ignition"].eq(df["Loss on Ignition"].max())].reset_index(drop=True)

In [35]:
df.describe(percentiles=[0.99]).T

,count,mean,min,50%,99%,max,std
Date,1238,2022-04-28 04:07:45.266558976,2021-01-05 00:00:00,2022-05-11 12:00:00,2023-07-13 00:00:00,2023-07-25 00:00:00,NaN
C4AF,1057.0,6.67685,2.86,6.76,9.2288,10.48,1.373143
Cubic C3A,1057.0,4.108174,0.81,4.22,6.4432,7.13,1.136505
Orthorhombic C3A,1057.0,0.334494,0.01,0.28,1.1588,3.02,0.286832
Portlandite,1057.0,0.933841,0.06,0.89,2.15,4.68,0.391453
Periclase,1057.0,3.835374,1.22,3.95,5.5,6.31,0.894645
Arcanite,1057.0,0.710956,0.01,0.67,1.782,2.18,0.420183
Bassanite,1057.0,1.204825,0.01,1.16,2.8688,3.5,0.643186
Calcite,1057.0,6.091996,2.18,5.68,11.8836,14.44,2.061044
Quartz,1057.0,0.353396,0.01,0.33,0.9844,1.5,0.204498
CaO,1206.0,57.438532,10.27,57.64,65.458999,66.309998,4.145175
MgO,1206.0,5.548615,0.34,5.61,6.48,10.29,0.497882
Na2O,1109.0,0.119306,0.01,0.13,0.2,0.26,0.03622
Al2O3,1109.0,5.667565,0.53,5.58,9.1092,9.68,1.04232
SiO2,1109.0,19.365717,3.52,19.059999,27.7336,28.33,2.248716
SO3,1206.0,3.646907,0.01,3.67,4.78,5.21,0.515385
K2O,1109.0,0.853147,0.01,0.86,1.07,1.17,0.113172
TiO2,797.0,0.293588,0.03,0.28,0.45,0.73,0.048711
Fe2O3,1109.0,2.543886,0.38,2.58,3.18,3.56,0.355591
Loss on Ignition,1235.0,3.827146,0.29,3.69,6.5132,8.3,1.111807
Insoluble Residue,1232.0,0.934201,0.08,0.91,2.1207,5.71,0.415166
Blaine,1206.0,5208.250415,3250.0,5220.0,5700.0,6110.0,320.083765
#325,1107.0,0.532877,0.017,0.31,10.01,13.84,1.342937
#400,1204.0,1.407193,0.1,1.05,20.5949,26.92,2.636662
Initial setting time,1211.0,191.818332,100.0,180.0,314.5,330.0,39.557094
Final setting time,1212.0,254.59736,140.0,250.0,380.0,450.0,42.615961
CS3,1227.0,34.93172,19.6,35.8,41.073999,43.0,4.304643
CS7,1217.0,41.554232,30.9,41.9,47.099998,49.299999,2.945754
CS28,1238.0,51.112682,38.0,50.9,56.263,58.3,2.700389

In [36]:
(df.isna().sum() / df.shape[0] * 100).sort_values(ascending=False).to_frame(
    name="Missing (%)"
).style.background_gradient(cmap="Reds")

## Dropping rows with increased missing values after preprocessing

<h3>Percentage of missing values:</h3>
<table>
    <th>Plant W - Full Dataset:</th>
    <th></th>
    <tr>
        <td>TiO2</td>
        <td>35.83</td>
    </tr>
</table>

In [37]:
FEATRUES_TO_DROP = ["TiO2"]
df = df.drop(labels=FEATRUES_TO_DROP, axis=1)

In [38]:
(df.isna().sum() / df.shape[0] * 100).sort_values(ascending=False).to_frame(
    name="Missing (%)"
).style.background_gradient(cmap="Reds")

In [39]:
df.describe().T

,count,mean,min,25%,50%,75%,max,std
Date,1238,2022-04-28 04:07:45.266558976,2021-01-05 00:00:00,2021-08-25 06:00:00,2022-05-11 12:00:00,2023-01-11 00:00:00,2023-07-25 00:00:00,NaN
C4AF,1057.0,6.67685,2.86,6.02,6.76,7.53,10.48,1.373143
Cubic C3A,1057.0,4.108174,0.81,3.59,4.22,4.84,7.13,1.136505
Orthorhombic C3A,1057.0,0.334494,0.01,0.11,0.28,0.5,3.02,0.286832
Portlandite,1057.0,0.933841,0.06,0.68,0.89,1.13,4.68,0.391453
Periclase,1057.0,3.835374,1.22,3.49,3.95,4.39,6.31,0.894645
Arcanite,1057.0,0.710956,0.01,0.37,0.67,0.99,2.18,0.420183
Bassanite,1057.0,1.204825,0.01,0.74,1.16,1.61,3.5,0.643186
Calcite,1057.0,6.091996,2.18,4.66,5.68,7.37,14.44,2.061044
Quartz,1057.0,0.353396,0.01,0.2,0.33,0.45,1.5,0.204498
CaO,1206.0,57.438532,10.27,56.07,57.64,59.689999,66.309998,4.145175
MgO,1206.0,5.548615,0.34,5.28,5.61,5.83,10.29,0.497882
Na2O,1109.0,0.119306,0.01,0.09,0.13,0.14,0.26,0.03622
Al2O3,1109.0,5.667565,0.53,5.12,5.58,5.81,9.68,1.04232
SiO2,1109.0,19.365717,3.52,18.290001,19.059999,19.73,28.33,2.248716
SO3,1206.0,3.646907,0.01,3.34,3.67,3.95,5.21,0.515385
K2O,1109.0,0.853147,0.01,0.8,0.86,0.93,1.17,0.113172
Fe2O3,1109.0,2.543886,0.38,2.41,2.58,2.74,3.56,0.355591
Loss on Ignition,1235.0,3.827146,0.29,3.065,3.69,4.465,8.3,1.111807
Insoluble Residue,1232.0,0.934201,0.08,0.65,0.91,1.1525,5.71,0.415166
Blaine,1206.0,5208.250415,3250.0,5060.0,5220.0,5410.0,6110.0,320.083765
#325,1107.0,0.532877,0.017,0.18,0.31,0.51,13.84,1.342937
#400,1204.0,1.407193,0.1,0.76,1.05,1.31,26.92,2.636662
Initial setting time,1211.0,191.818332,100.0,170.0,180.0,210.0,330.0,39.557094
Final setting time,1212.0,254.59736,140.0,230.0,250.0,280.0,450.0,42.615961
CS3,1227.0,34.93172,19.6,33.6,35.8,37.6,43.0,4.304643
CS7,1217.0,41.554232,30.9,40.0,41.9,43.7,49.299999,2.945754
CS28,1238.0,51.112682,38.0,49.4,50.9,53.0,58.3,2.700389

In [40]:
df.describe(exclude="number").T

,count,unique,top,freq,mean,min,25%,50%,75%,max
Date,1238,NaN,NaN,NaN,2022-04-28 04:07:45.266558976,2021-01-05 00:00:00,2021-08-25 06:00:00,2022-05-11 12:00:00,2023-01-11 00:00:00,2023-07-25 00:00:00
Cement_Type,1238,5,CP II-E-40,666,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1238 entries, 0 to 1237
Data columns (total 29 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  1238 non-null   datetime64[ns]
 1   C4AF                  1057 non-null   float64
 2   Cubic C3A             1057 non-null   float64
 3   Orthorhombic C3A      1057 non-null   float64
 4   Portlandite           1057 non-null   float64
 5   Periclase             1057 non-null   float64
 6   Arcanite              1057 non-null   float64
 7   Bassanite             1057 non-null   float64
 8   Calcite               1057 non-null   float64
 9   Quartz                1057 non-null   float64
 10  CaO                   1206 non-null   float64
 11  MgO                   1206 non-null   float64
 12  Na2O                  1109 non-null   float64
 13  Al2O3                 1109 non-null   float64
 14  SiO2                  1109 non-null   float64
 15  SO3                   1206 non-null   float64
 16  K2O                   1109 non-null   float64
 17  Fe2O3                 1109 non-null   float64
 18  Loss on Ignition      1235 non-null   float64
 19  Insoluble Residue     1232 non-null   float64
 20  Blaine                1206 non-null   float64
 21  #325                  1107 non-null   float64
 22  #400                  1204 non-null   float64
 23  Initial setting time  1211 non-null   float64
 24  Final setting time    1212 non-null   float64
 25  CS3                   1227 non-null   float64
 26  CS7                   1217 non-null   float64
 27  CS28                  1238 non-null   float64
 28  Cement_Type           1238 non-null   object
dtypes: datetime64[ns](1), float64(27), object(1)
memory usage: 280.6+ KB

### Sort the dataset by date

In [42]:
# We first make sure Date column was infered correctly
df["Date"].dtype

dtype('<M8[ns]')

In [43]:
df = df.sort_values(by="Date")

## Saving the dataset

<h3>Saving for feature engineering</h3>

In [44]:
df.to_csv("../../../../data/interim/209/z.csv", index=False)

In [45]:
df.dropna().shape

(899, 29)