In [1]:
%load_ext nb_black

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

from scipy.stats import pearsonr
from collections import Counter

In [3]:
def convert_to_float(value):
    try:
        # If it's a string enclosed in single quotes, remove quotes and replace comma with dot
        if isinstance(value, str):
            return float(value.replace(",", "."))
        else:
            return float(value)
    except ValueError as e:
        print(e)
        return float("nan")

In [4]:
def preprocess_numeric_cols(df, columns):
    for col in columns:
        df[col] = df[col].astype(str)  # Ensure string type for string operations
        df[col] = df[col].str.replace("#", "")  # Remove '#' characters
        df[col] = df[col].str.replace(",", ".")  # Replace ',' with '.' for decimals
    return df

# Data preparation - 209 plant X data

### Reading the files and extracting relevant information:

In [5]:
plant = "X"
xls_files = {}

xls = pd.ExcelFile(
    f"../../../data/raw/209/EMBRAPII hubIC IACC_CIMENTO_{plant}.xlsx",
    engine="openpyxl",
)
xls_files[plant] = xls

In [6]:
print("Plant: ", plant, xls.sheet_names)

Plant:  X ['INSTRUÇÕES', 'Clínquer', '78', '83', '19']

In [7]:
cement_types_per_plant = []
CEMENT_TYPE_COLS = ["Tipo de cimento", "Classe de resistência"]
dataframes = []

for plant, xls in xls_files.items():
    for sheet_name in xls.sheet_names[2:]:
        df = pd.read_excel(xls_files[plant], sheet_name, header=[1, 2])

        if not df[CEMENT_TYPE_COLS].iloc[2:].isna().all().all():
            cement_type = (
                df[CEMENT_TYPE_COLS]
                .loc[2:]
                .astype(str)
                .sum(axis=1)
                .str.replace(" ", "")
                .str.replace("-", "")
                .str.replace("nan", "")
                .unique()
            )

        else:
            cement_type = (
                df[[("Obs.", "Unnamed: 8_level_1")]]
                .loc[2:]
                .astype(str)
                .sum(axis=1)
                .str.replace(" ", "")
                .str.replace("-", "")
                .unique()
            )

        cement_types_per_plant.append((plant, sheet_name, cement_type))
        dataframes.append(df)

In [8]:
cement_types_per_plant

[('X', '78', array(['CPIIF32'], dtype=object)),
 ('X', '83', array(['CPIIF40'], dtype=object)),
 ('X', '19', array(['CPIV32'], dtype=object))]

In [9]:
cements = []
for tup in cement_types_per_plant:
    cements.append(tup[2][0])
Counter(cements)

Counter({'CPIIF32': 1, 'CPIIF40': 1, 'CPIV32': 1})

In [10]:
dataframes = []

for plant, xls in xls_files.items():
    for sheet_name in xls.sheet_names[2:]:
        df = pd.read_excel(xls_files[plant], sheet_name, header=[0, 1, 2])
        df["Unnamed: 0_level_0", "Unnamed: 0_level_1", "Unnamed: 0_level_2"] = plant
        dataframes.append(df.drop([0, 1], axis=0).reset_index(drop=True).copy())

In [11]:
df = pd.concat(dataframes, axis=0).reset_index(drop=True)

## Initial Preprocessing

In [12]:
df = pd.concat(
    [
        df["Unnamed: 0_level_0", "Unnamed: 0_level_1", "Unnamed: 0_level_2"],
        df["Dados iniciais"],
        df["Cimento"]["Análise química"],
        df["Característias físicas do cimento"],
        df["Propriedades do cimento"],
    ],
    axis=1,
)

### 1. Dropping columns where either there is no data nor it contributes to the analysis
### 2. Renaming columns to a short identifiable name

In [13]:
COLUMNS_TO_DROP = [
    ("Data", "Medida"),
    ("Horário", "Produção"),
    ("Horário", "Medida"),
    ("Obs.", "Unnamed: 148_level_2"),
    ("Tipo de cimento", "Unnamed: 6_level_2"),
    ("Classe de resistência", "Unnamed: 7_level_2"),
    ("Obs.", "Unnamed: 8_level_2"),
    "Obs.",
    ("Obs.", "Unnamed: 148_level_2"),
    ("Unnamed: 141_level_1", "Obs."),
    # ("Unnamed: 139_level_1", "#400"),
]

COLUMNS_TO_RENAME = {
    ("Unnamed: 0_level_0", "Unnamed: 0_level_1", "Unnamed: 0_level_2"): "Plant",
    ("Cidade", "Unnamed: 1_level_2"): "City",
    ("Data", "Produção"): "Date",  # Arrumar!
    ("Unnamed: 136_level_1", "Blaine"): "Blaine",
    ("Unnamed: 137_level_1", "#200"): "#200",
    ("Unnamed: 138_level_1", "#325"): "#325",
    ("Unnamed: 139_level_1", "#400"): "#400",
    ("Unnamed: 140_level_1", "Massa específica"): "Specific Gravity",
    ("Tempo de pega", "Inicio"): "Initial setting time",
    ("Tempo de pega", "Fim"): "Final setting time",
    ("Resistência à compressão", "1 d"): "CS1",
    ("Resistência à compressão", "3 d"): "CS3",
    ("Resistência à compressão", "7 d"): "CS7",
    ("Resistência à compressão", "28 d"): "CS28",
    "Perda ao fogo": "Loss on Ignition",
    "Resíduo insolúvel": "Insoluble Residue",
}

### Defining a single variable to identify Cement Type

In [14]:
# Single variable for the Cement Type
df["Cement_Type"] = (
    df[
        [
            ("Tipo de cimento", "Unnamed: 6_level_2"),
            ("Classe de resistência", "Unnamed: 7_level_2"),
            ("Obs.", "Unnamed: 8_level_2"),
        ]
    ]
    .fillna("")
    .astype(str)
    .sum(axis=1)
)

# Preprocessing
df["Cement_Type"] = (
    df["Cement_Type"]
    .str.replace("Expedido", "")
    .str.replace("Linha 9", "")
    .str.replace("Itajaí", "")
    .str.replace("D-G", "")
    .str.replace("D-E", "")
    .str.replace("DF2", "")
    .str.replace("CPIIF40", "CP II-F-40")
    .str.replace("CPIIF40", "CP II-F40")
    .str.replace("CP VARI", "CP V-ARI")
    .str.replace("CPVARI", "CP V-ARI")
    .str.replace("CP V-RSARI", "CP V-ARI RS")
    .str.replace("CP III-RS40", "CP III-40 RS")
    .str.replace("CP III-RS32", "CP III-32 RS")
    .str.replace("CP IV-RS32", "CP IV-32 RS")
    .str.replace("CP III40", "CP III-40")
    .str.replace("CP III32", "CP III-32")
    .str.replace("CP I-S40", "CP I-S-40")
    .str.replace("CP I40", "CP I-40")
    .str.replace("CP II-E32", "CP II-E-32")
    .str.replace("CP II-E40", "CP II-E-40")
    .str.replace("CP II-F FIBRO40", "CP II-F-40")
    .str.replace("CP II-F32", "CP II-F-32")
    .str.replace("CP II-F40", "CP II-F-40")
    .str.replace("CP II-Z32", "CP II-Z-32")
    .str.replace("CP II-Z40", "CP II-Z-40")
    .str.replace("CP IV32", "CP IV-32")
    .str.replace("CP IND", "CP I")
    .str.replace("CPINDCC", "CP I")
    .str.strip()
)

df = df.drop(COLUMNS_TO_DROP, axis=1).rename(COLUMNS_TO_RENAME, axis=1).copy()
df = df.drop([0]).reset_index(drop=True)
df = df.infer_objects()

### Dropping and rename the columns defined above

### Cleaning and converting numeric columns to float

In [15]:
NUMERIC_COLUMNS = [
    "CaO",
    "MgO",
    "Na2O",
    "Al2O3",
    "SiO2",
    "SO3",
    "K2O",
    "TiO2",
    "Fe2O3",
    "Loss on Ignition",
    "Insoluble Residue",
    "Blaine",
    "#200",
    "#325",
    "#400",
    "Specific Gravity",
    "Final setting time",
    "Initial setting time",
    "CS1",
    "CS3",
    "CS7",
    "CS28",
]

df = preprocess_numeric_cols(df, NUMERIC_COLUMNS)

# Preprocessing to fix numeric columns
df[NUMERIC_COLUMNS] = df[NUMERIC_COLUMNS].map(convert_to_float)

# Converting Date to pandas datetime
df["Date"] = pd.to_datetime(df["Date"])

# Drop rows completely missing
index_to_keep = (
    df.drop(["Plant", "Date", "Cement_Type"], axis=1).dropna(axis=0, how="all").index
)
df = df.iloc[index_to_keep].reset_index(drop=True)

df = df.infer_objects()

could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '
could not convert string to float: ' '

## Dropping missing features

### Drop rows completely missing

In [16]:
index_to_keep = (
    df.drop(["Plant", "City", "Date", "Cement_Type"], axis=1)
    .dropna(axis=0, how="all")
    .index
)
df = df.iloc[index_to_keep].reset_index(drop=True)

### Removing features
 that will be fitted on this data.

1. Removing features with features having ~50% or more of missing values
2. Removing features with zero variance
3. Removing features with more than 70% of zeros

In [17]:
(df.isna().sum() / df.shape[0] * 100).sort_values(ascending=False).to_frame(
    name="Missing (%)"
).style.background_gradient(cmap="Reds")

<h3>Percentage of missing values:</h3>
<table>
    <th>Plant A - Full Dataset:</th>
    <th></th>
    <tr>
        <td>CS1</td>
        <td>100.00</td>
    </tr>
    <tr>
        <td>Specific Gravity</td>
        <td>100.00</td>
    </tr>
    <tr>
        <td>TiO2</td>
        <td>100.00</td>
    </tr>      
    <tr>
        <td>#400</td>
        <td>84.12</td>
    </tr>
</table>

In [18]:
FEATRUES_TO_DROP = ["CS1", "Specific Gravity", "TiO2", "#400"]
df = df.drop(labels=FEATRUES_TO_DROP, axis=1)

### Removing features with many zeros when applicable

In [19]:
zero_values = {}
for col in df.select_dtypes(include="number").columns:
    zero_percentages = (df[df[col].eq(0)].shape[0] / df.shape[0]) * 100
    zero_values[col] = zero_percentages

zero_percentages = pd.Series(zero_values, name=f"Zero (%) for {plant}")
zero_percentages = zero_percentages.sort_values(ascending=False)
zero_percentages = zero_percentages.to_frame(name=f"Zero (%) for {plant}")
zero_percentages.style.background_gradient(cmap="Reds")

### Dropping variable with many zeros

In [20]:
# FEATRUES_TO_DROP = ["#200"]
# df = df.drop(labels=FEATRUES_TO_DROP, axis=1)

### Dropping variable with City and Plant identification

In [21]:
FEATRUES_TO_DROP = ["City", "Plant"]
df = df.drop(labels=FEATRUES_TO_DROP, axis=1)

### Dropping rows where the target variable is null

In [22]:
df = df[df["CS28"].notna()]

### Dropping rows where the target variable is zero

In [23]:
df = df[~df["CS28"].eq(0)]

In [24]:
df.shape

(499, 20)

In [25]:
# df.describe().T

In [26]:
# df_copy = df.copy()

### Dropping rows where any other variable has a zero value

In [27]:
for col in df.columns:
    df = df[~df[col].eq(0)]

In [28]:
df.shape

(484, 20)

In [29]:
(df.isna().sum() / df.shape[0] * 100).sort_values(ascending=False).to_frame(
    name="Missing (%)"
).style.background_gradient(cmap="Reds")

In [30]:
df.describe().T

,count,mean,min,25%,50%,75%,max,std
Date,484,2022-01-31 11:54:02.975206656,2021-01-04 00:00:00,2021-05-15 18:00:00,2021-12-26 00:00:00,2022-10-04 12:00:00,2023-07-16 00:00:00,NaN
CaO,484.0,56.691133,39.34,56.527499,57.25,58.490002,61.32,4.075207
MgO,484.0,4.683742,2.93,4.4,4.72,4.962417,6.64,0.486169
Na2O,484.0,0.111511,0.04464,0.098097,0.11228,0.128,0.20756,0.021299
Al2O3,484.0,4.181335,3.25994,3.621527,3.720225,3.891085,12.28949,1.717642
SiO2,484.0,17.683845,14.08,16.578415,16.892065,17.290001,34.099998,3.616205
SO3,484.0,2.591256,2.15,2.37,2.45324,2.59,3.59,0.357957
K2O,484.0,0.742357,0.531,0.707785,0.749995,0.789572,0.90485,0.063432
Fe2O3,484.0,2.581092,1.97285,2.406303,2.571875,2.75891,3.36391,0.271128
Loss on Ignition,484.0,9.510847,3.84,9.7025,10.315,10.66,11.92,2.01603
Insoluble Residue,484.0,4.027293,0.34,2.2575,2.735,3.02,31.75,6.311635
Blaine,484.0,4661.944215,4060.0,4430.0,4550.0,4770.0,6200.0,392.401143
#200,484.0,0.534897,0.05,0.43,0.54,0.65,1.84,0.262929
#325,418.0,4.510933,2.81,3.98,4.28,4.69,11.32,1.042654
Initial setting time,484.0,176.342975,135.0,165.0,175.0,185.0,210.0,13.185809
Final setting time,484.0,231.39876,185.0,220.0,230.0,240.0,320.0,17.856806
CS3,484.0,25.523141,21.299999,23.299999,24.299999,25.799999,36.0,3.683577
CS7,484.0,30.122521,25.6,27.700001,28.799999,30.5,42.5,3.682369
CS28,484.0,36.544049,33.200001,34.299999,34.900002,36.700001,48.599998,3.695812

In [31]:
df.describe(exclude="number").T

,count,unique,top,freq,mean,min,25%,50%,75%,max
Date,484,NaN,NaN,NaN,2022-01-31 11:54:02.975206656,2021-01-04 00:00:00,2021-05-15 18:00:00,2021-12-26 00:00:00,2022-10-04 12:00:00,2023-07-16 00:00:00
Cement_Type,484,3,CP II-F-32,393,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 484 entries, 0 to 509
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  484 non-null    datetime64[ns]
 1   CaO                   484 non-null    float64
 2   MgO                   484 non-null    float64
 3   Na2O                  484 non-null    float64
 4   Al2O3                 484 non-null    float64
 5   SiO2                  484 non-null    float64
 6   SO3                   484 non-null    float64
 7   K2O                   484 non-null    float64
 8   Fe2O3                 484 non-null    float64
 9   Loss on Ignition      484 non-null    float64
 10  Insoluble Residue     484 non-null    float64
 11  Blaine                484 non-null    float64
 12  #200                  484 non-null    float64
 13  #325                  418 non-null    float64
 14  Initial setting time  484 non-null    float64
 15  Final setting time    484 non-null    float64
 16  CS3                   484 non-null    float64
 17  CS7                   484 non-null    float64
 18  CS28                  484 non-null    float64
 19  Cement_Type           484 non-null    object
dtypes: datetime64[ns](1), float64(18), object(1)
memory usage: 79.4+ KB

### Sort the dataset by date

In [33]:
# We first make sure Date column was infered correctly
df["Date"].dtype

dtype('<M8[ns]')

In [34]:
df = df.sort_values(by="Date")

## Saving the dataset

<h3>Saving for feature engineering</h3>

In [35]:
df.to_csv("../../../data/interim/209/x.csv", index=False)